.dashboard-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(250,250,250);
    padding-left: 210px;
    padding-right: 10px;
}
.dashboard-main-title{
    margin-top: 30px;
}